<div class="container">
    <app-products
        [products]="(basketProducts$ | async) || []"
        [isShowAddItem]="false"
        (openItem)="openItem($event)"
        (removeItemFromBasket)="removeItemFromBasket($event)">
    </app-products>
</div>

<div class="parent-div"
    *ngIf="(basketProducts$ | async)?.length">
    <button class="btn yellow">
        Buy all {{ fullPrice.toFixed(2) }}
    </button>
</div>

<div class="parent-div"
    *ngIf="!(basketProducts$ | async)?.length">
    Basket is empty!
</div>